APP_ROOT=/

APP_PORT_EXT=3000

SECRET_KEY=mySecretKey

JWT_SECRET="-----BEGIN RSA PRIVATE KEY-----
Proc-Type: 4,ENCRYPTED
DEK-Info: DES-EDE3-CBC,574A686CA1BB9842

qZggSC5IAfI3RgLiQlGP9jNzZkLOMtjEpN241TkI2tIav2fO0AGB7BADrtpSng+h
mAUOH2tMjKgJvqm6KiHhD/UDs6FAyDXhvvxZrBqpc+cKMbFqJeBeekukklHBtMqk
EUn23VzmmzU9IeiIUnAoCrilUnSVfUmS/HBjmu1zSEo6tQzgLTvU3Kwe4tNPpS6l
Wjoy6/ILC9/8rRfyMAfP1T/vHy3zeBqy5D2SglRoZ2Cy/xNSpO9SJN1bqmu3va9n
6FEah63CXuYNWBNph6j6ftzzYrUNKYBtGY6Re2T55iYgTlqsqpiAEdcySd8ibj7F
xoQK8o2cOLvD4Kdcm6M6iNS6QZdH13RuCpNMyHkCE4nCdBMg2F/OXw+FqklXEmZL
C2DwoACaqleYvpqKhUp9Nwa3iDM/KvzzMOSmhY0mDxjdrFriuL6/dNM3RqVAwTEg
dE4rxx14duXpa3NqTij1pNC/fBMRbcIVzNUw0M7yu37pEBuU7SxuyHxqPqFbHKrY
kLW2OOSZ6rtS6P/cwWBa3JYTeXd+u/dqklfHkWyBKu25P9MjqhpIpq3Lc3T36Uwl
OvRrkLSiLt7EpJdIkGWFv7TYJ5bUOYBAC6SH/fzusrqKhyNCmVvC3szw04zEWCGM
NORv1aISjafJ1vAew6zk5HyvnDZ9SQWsck75aGQA6ypt+bbjAi5nK42kzitYWXXb
EhCKI/wZyrq8Ao0ce4eIkXjmIZ0k87hwb0DZITaftA4ElmFDkUOvkWz+04FlZBlx
hCdcj9oj2oiuF6CmegV7a6mUVbt5N1kcPy3jSI2OOqgpnj2QC5eTZwCQRfJsF9EA
K2MdSol8op04t5DhJ5r7bNXB/OXwDx8Lp153KzmStIX2SZkP1hg8pM5YaU9Kchga
A7oOD7UyYO/ZFedtaOP4/Vd6Z9ESWrPoC8dpeQp5m8VrVsoh6IRmiKwrjKKiHcjJ
mnp8I+rNUIdQ17FizOH+Am0gRk62XVlWortjo+SX6JNA6tfAMkzmwkAuxwFZgvCa
CDS+fCLcncSTiOukqxjF2LtbeRJsIXHLbuwmk7SDoUwF0klONr78Fn3GMLjUQKrf
yf01goZXLShFearSU4DXO1BHVfbUUwwe1pAvgqxuqRsXrzfANdZqWyI/NcPa5R0z
bPoh638fZF1xyYS91aCshePWBEdw21sykCvxJkeEWldv4DAEbDshzS+BF0iN6rHr
vowRmLsiSqfE0b3X0BV9OaoD9NDPVX5oHcmMwgNbZawMGuqChxSftARcjVR7FJeB
t4NsXYnqs+f8m5M1yMw8aebCLTIhS2nYTIL80Mk6E5N2ztpZ0lhR3s6tPG+qo3Nm
SFEm/jwa+rCuqF2ZbgRKbvGWonyFbpoK6tgEMDwe7jtukDhKjqIZOCdV5lTkhEUt
Q1ktqpLr6QmIbd0qVifxcFGs2spRxzmCwe38pMlkKGfOzI8Lj5EYtL5toy/Fxefm
Ajbb3HNiW2cGDubUqreAnC3eF/6m8GefhXw5nvsEUcC1U1mPcwIThlM6w+GLEM8l
G4D3kyPe2iS3zz1miCv6S8Olz4CwOIC6pDiKuCDbp+UhHDVXOFA29Q==
-----END RSA PRIVATE KEY-----"

JWT_PUBLIC="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqWTJeL4RzwQld7F8VgaP
0xJX6YXp7dh2yn6g69IZk/ep04eBYzaKAheKJYqWO8jorC0fcsN2XTA1P/tQlEwh
AAwzS2NqJcbzzzIErJnGu+kUd+3VMNQTejSbSEzmMW291LlXtBTZNZg7V1blJAf2
QLO/RY4VnVcObwYdOCr1MOM/5SRp3UPpDlY8esivmE/GdzlQA+gYx4rMnrro2YwQ
+0PwjfmqcBXHRgnkfBbnHRD3iY99/725nyyaPSTgdVGhTvM/xJHq7zFuVYO0i1oh
v+BcuNp/a0VkhqLVmxJrhaPRVuZKbdrNsF99rvUkmqz0Okgf1mh6GKiNhY2E8H4Y
uQIDAQAB
-----END PUBLIC KEY-----"

JWT_PASSPHRASE=test